In [5]:
import pandas as pd

In [8]:
# https://www.kaggle.com/ashydv/advertising-dataset
data = pd.read_csv('advertising.csv', index_col=0)
data.head()

       Radio  Newspaper  Sales
TV
230.1   37.8       69.2   22.1
44.5    39.3       45.1   10.4
17.2    45.9       69.3    9.3
151.5   41.3       58.5   18.5
180.8   10.8       58.4   12.9

In [3]:
data.to_csv('advertising.csv')